.App {
  text-align: center;
  background-image: url(http://untroubled.org/backgrounds/space/stars.gif);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container-carousel
{
  width: 100%;
  
}

.footer
{
  background-color: rgb(38, 37, 37);
  height: 40px;
  margin-top: 20px;
  
}

.f-texto
{
  font-size: 20px;
}

.tarjetas
{
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  margin-top: 20px;
  
}



.Texto
{
  color: white;
  padding: 40px;
  text-align: justify;
  margin: 0 auto;
  letter-spacing: 1.5px;
  max-width: 1080px;
  height: 300px;
  animation: intro 25s linear infinite;
}

.Texto h1
{
  text-align: center;
  font-size: 65px;
  padding: 5px;
  color: yellow;
}

.personajes
{
  
  border-radius: 15px;
  padding: 20px;
}

.scroll
{
  max-height: 160px ;
  overflow-y: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



